/* Write your CSS here */
.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #93c5fd;
  height: 100vh;
}
.inner-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.seconddiv {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
}
select {
  height: 35px;
  width: 150px;
}
